@import "variables.css";

body {
	margin: var(--padding);
	font-family: monospace;
}

h1, h2 {
	color: var(--primary);
}

h3, h4, h5, blockquote, a, a:visited {
	color: var(--secondary);
}

blockquote, pre {
	font-weight: 600;
	padding: var(--padding) 0px;
}

h1, h2, h3, h4, h5, hr {
	margin: 0px;
	overflow: hidden;
	position: relative;
	padding: 10px 0 30px;

	display: inline-block;
	display: table;
}

h1::after, h2::after, h3::after {
    left: 0px;
	height: 1em;
    bottom: 15px;
    position: absolute;
}

h1::after {content: "========================================"}
h2::after {content: "----------------------------------------"}

h3, h4, h5 {font-size: 1.2em}
h3::before {content: "### "}
h4::before {content: "#### "}
h5::before {content: "##### "}

blockquote::after {content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>"}

blockquote::after {
	top: 0;
	left: 0;
	white-space: pre;
	line-height: 1.8em;
	position: absolute;
}

blockquote {
	margin: 0px;
	overflow: hidden;
	padding-top: 2px;
	padding-left: 2em;
	position: relative;
	padding-left: 15px;
}

blockquote p {margin: 0px}

hr::after {
	line-height: 0px;
	content: "----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
}

hr {
	width: 100%;
	border: none;
}

pre {
	border-radius: 10px;
	color: var(--elem-fg);
	padding: var(--padding);
	background-color: var(--elem-bg);
}

li {counter-increment: li}
ul, ol {
	list-style: none;
	counter-reset: li;
	padding-left: 1.2em;
}

li::before {color: var(--secondary)}

ul li::before {content: "- "}
ol li::before {content: counter(li) ". "}

main {
	width: 100%;
	margin: 0 auto;
	max-width: 700px;
}
