:root {
	--bg: #FFFFFF;
	--fg: #000000;

	--primary: #ECAFDA;
	--secondary: #B29C80;
	--inactive: #E2DBED;

	--elem-bg: #000000;
	--elem-fg: #FFFFFF;

	--radius: 10px;
	--padding: 10px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #242426 !important;
		--fg: #EEEEEE !important;

		--elem-bg: #42444C;
		--elem-fg: #CCCCCC;
	}
}
