:root {
	--bg: #FFFFFF;
	--fg: #100505;

	--primary: #ECB4E6;
	--secondary: #900025;
	--inactive: #E2DBED;

	--elem-bg: #F5E2E8;
	--elem-fg: #805555;

	--radius: 10px;
	--padding: 10px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #180C0F !important;
		--fg: #F5C5C5 !important;

		--primary: #FDCACA !important;
		--secondary: #FF9595 !important;

		--elem-bg: #000000;
		--elem-fg: #CCCCCC;
	}
}
